/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/ucsd-cmi/compass-resources/refs/heads/main/test_data/'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
